body {
    margin: 0;
}

.container {
    margin: 0;
    padding: 0 ;
    clear: both;
}

.topBar {
    position: relative;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topBar::before {
    content: '';
    background-color: black;
    position: absolute;
    top:0;
    bottom: 0;
    left: -999px;
    right: -999px;
}
.topBar>* {position: relative;}
.contactInfo {
    padding: 10px 0;
}
.topBar .contactInfo ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.topBar .contactInfo li {
    margin: 0 30px 0 0;
}
.topBar .contactInfo li span {
    margin: 0 5px 0 0;
}
.topBar .contactInfo a {
    color: white;
}
.topBar .otherInfo {
    display: flex;
}
.topBar .socialMedia {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
}
.topBar .socialMedia li {
    margin: 0 20px 0 0;
}
.topBar .socialMedia a {
    color: #fff;
}
.topBar .socialMedia a:hover {
    color: rgb(255, 97, 12);
}
.topBar .socialMedia button {
    background-color: rgb(255, 97, 12);
}


.login-container, .register-container, .apply-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    padding-top: 20px;
    width: 100%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form-item {
    width: 100%;
}

.button {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    width: 100%;
    max-width: 500px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    
}

.header-menu {
    flex: 1;
    display: inline-block;
}

.job-card-container {
    display: flex;
    justify-content: center;
}

.job-card {
    width: 400px;
    margin-bottom: 20px;
}

.job-card-description {
    margin-top: 10px;
    margin-bottom: 0px;
}

.job-card-details {
    display: flex;
    justify-content: space-between;
}

.job-card-detail {
    margin-top: 5px;
    margin-bottom: 0px;
    width: 50%;
}
.jobs-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}